#categories
  %ul.group
    %li(style="background-color: rgba(255, 0, 0, 0.7)")
      %a(href="#")
        %h2 Grocery
        %ul.util-bar.group
          %li.notifications
            %span.icon-envelope
            %em 4
        .pro-meter-wrapper
          .pro-meter.group
            %span.down
            %em 80%
    %li(style="background-color: rgba(190, 195, 0, 0.7)")
      %a(href="#")
        %h2 Dairy
        .pro-meter-wrapper
          .pro-meter.group
            %span.up
            %em 40%
    %li(style="background-color: rgba(175, 155, 0, 0.7)")
      %a(href="#")
        %h2 Deli Meats
        .pro-meter-wrapper
          .pro-meter.group
            %span.down
            %em 0.75%
    %li(style="background-color: rgba(205, 140, 0, 0.7)")
      %a(href="#")
        %h2 Beverages
        .pro-meter-wrapper
          .pro-meter.group
            %span.down
            %em 35%
    %li(style="background-color: rgba(0, 255, 0, 0.7)")
      %a(href="#")
        %h2 Canned
        .pro-meter-wrapper
          .pro-meter.group
            %span.up
            %em 140%
    %li(style="background-color: rgba(55, 60, 0, 0.7)")
      %a(href="#")
        %h2 Frozen
        .pro-meter-wrapper
          .pro-meter.group
            %span.up
            %em 20%
    %li(style="background-color: rgba(55, 90, 0, 0.7)")
      %a(href="#")
        %h2 Fragrance
        .pro-meter-wrapper
          .pro-meter.group
            %span.up
            %em 50%
    %li(style="background-color: rgba(205, 16, 0, 0.7)")
      %a(href="#")
        %h2 Grocery
        .pro-meter-wrapper
          .pro-meter.group
            %span.down
            %em 80%
    %li(style="background-color: rgba(170, 185, 0, 0.7)")
      %a(href="#")
        %h2 Dairy
        .pro-meter-wrapper
          .pro-meter.group
            %span.up
            %em 40%
    %li(style="background-color: rgba(255, 155, 0, 0.7)")
      %a(href="#")
        %h2 Deli Meats
        .pro-meter-wrapper
          .pro-meter.group
            %span.down
            %em 0.75%
    %li(style="background-color: rgba(255, 40, 0, 0.7)")
      %a(href="#")
        %h2 Beverages
        .pro-meter-wrapper
          .pro-meter.group
            %span.down
            %em 35%
    %li(style="background-color: rgba(155, 255, 0, 0.7)")
      %a(href="#")
        %h2 Canned
        .pro-meter-wrapper
          .pro-meter.group
            %span.up
            %em 140%
    %li(style="background-color: rgba(55, 60, 0, 0.7)")
      %a(href="#")
        %h2 Frozen
        .pro-meter-wrapper
          .pro-meter.group
            %span.up
            %em 20%
    %li(style="background-color: rgba(55, 90, 0, 0.7)")
      %a(href="#")
        %h2 Fragrance
        .pro-meter-wrapper
          .pro-meter.group
            %span.up
            %em 50%
    %li(style="background-color: rgba(105, 44, 0, 0.7)")
      %a(href="#")
        %h2 Grocery
        .pro-meter-wrapper
          .pro-meter.group
            %span.down
            %em 80%
    %li(style="background-color: rgba(210, 55, 0, 0.7)")
      %a(href="#")
        %h2 Dairy
        .pro-meter-wrapper
          .pro-meter.group
            %span.up
            %em 40%