.cl{clear:both;}
.cf:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}
* html .cf{ zoom: 1; }
*:first-child+html .cf{ zoom: 1; }
.hide{
    display:none;
}
/***header section start***/
#search-bar select#taxon{
    height: 30px;
    padding-bottom:5px;
    padding-top:5px;

}
#search-bar select#taxon option{
    padding-right:10px;
}
#search-bar input{
    height:30px;
}
/***header section ends***/


.product_content_left{
    float:left;
}
#product-variants{margin-right:0px;}
#product-variants ul li{float:left;}
.product_content_right{
    float:left;
    min-height: 250px;
    width: 226px;
    border-top: 1px solid #cecece;
    border-right: 1px solid #cecece;
    border-left: 1px solid #cecece;
    margin-left:10px

}
#product-price .price{
    color:#900;
}
.chart_sentiment{
    width:245px;
    height:200px;
    margin:0px auto;
}
.brand_sentiment_wrapper{
    position:  relative;
}
#brand_knowmore{
    padding:5px;
    background:
}
#brand_knowmore a{
    position:absolute;
    top:88px;
    left:10px;
    font-weight:bold;
    color: #DA7C0C;
}
/***Substitute block***/
.subtitutes_block{
    padding:10px 0px 20px 0px;
    margin-top:40px;
    border-top:3px solid #DA7C0C;
}
.subs_discount_wpr{
    position:relative;
    float: left;
    padding:21px 60px 10px 20px;
}
.subs_bg{
    border:3px solid #cecece;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background:#eeeeee;
    width:100%;
}
.subs_txt_discount,.subs_txt_discountval{
    color:#E85B48;
    font-weight:bold;
    font-size:16px;
    transform:rotate(340deg);
    -ms-transform:rotate(340deg); /* Internet Explorer */
    -moz-transform:rotate(340deg); /* Firefox */
    -webkit-transform:rotate(340deg); /* Safari and Chrome */
    -o-transform:rotate(340deg); /* Opera */
}
.subs_txt_discountval{
    text-align:center;
    color:#BB0000;
}
.subs_discount{
    width:75px;
    float:left;
    padding-top:28px;
}
.subtitutes_blockR{
    float:left;
}
.subs_discount_thumb{
    float:left;
}
.subs_productname{
    clear:both;
    text-align:right;
    font-family: verdana;
    color:grey;
    text-transform: uppercase;
    font-size:11px;
}
.subs_block_headertxt{
    font-size: 14px;
    font-weight: bold;
    padding-bottom:10px;
}
.subs_wpr{
    padding:10px 10px 10px 10px;
}
.subs_wpr ul li{
    float:left;
    padding:10px 10px 10px 10px ;
    width:115px;
}
.subs_wpr ul li a{
    display:block;
}
.subs_wpr ul li a img{
    border:1px solid #DA7C0C;
}

.product-section-title2{
    background:#f2f2f2;
    padding:5px 0px 5px 10px;
}
.product_content_left #product-description .product-title{
    border-bottom:none;
}
/***substitute block ends***/
/***tag cloud css start***/
 .brand_sentiment_page{
     width:960px;
     margin:0px auto;
     padding-top:20px;
 }
 .tagcloud{
     width:100%;
     position:relative;
 }
.tagcloud ul{
    margin:0px;
    padding:0px;
}
 .tagcloud ul li{
     float :left;
     margin-right:5px;
 }
 .tagcloud ul li a{
     padding:5px 5px;
     float:left;
 }
.tagcloud ul li a:hover{
    color:#000000 !important;
    background:#cecece;
    border-radius:5px;
}
.tag1{color:#6e9215 ;font-size:2em; }
.tag2{ color:#ef5308;font-size:1.5em; }
.tag3{ color:#a1997f; font-size:1em;}
/***tag cloud css end***/

/*** Footer css start**/
html,body{
    height:100%;
}
.container{
    min-height:100%;
    position: relative;
}
#wrapper{
    padding-bottom:80px;
}
#footer{
    height: 60px;
    position: absolute;
    bottom: 0px;
}

/*** Footer css ends ***/
/** ui accordian css start**/
.ui-widget {
    font-family:Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
    font-size:1.1em;
}
.ui-helper-reset {
    border:0 none;
    font-size:100%;
    line-height:1.3;
    list-style:none outside none;
    margin:0;
    outline:0 none;
    padding:0;
    text-decoration:none;
}

.ui-accordion .ui-accordion-header {
    cursor:pointer;
    display:block;
    margin-top:2px;
    padding:0.5em 0.5em 0.5em 0.7em;
    position:relative;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius:4px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius:4px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background:#F6F6F6 repeat-x scroll 50% 50% ;
    border:1px solid #CCCCCC;
    color:#1C94C4;
    font-weight:bold;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background:#FFFFFF repeat-x scroll 50% 50% ;
    border:1px solid #FBD850;
    color:#EB8F00;
    font-weight:bold;
}

.ui-accordion .ui-accordion-content {
    border-top:0 none;
    overflow:auto;
    padding:1em 1em;
}

.ui-widget-content {
    background:#EEEEEE repeat-x scroll 50% top ;
    border:1px solid #DDDDDD;
    color:#333333;
}


/** ui accordion css end***/


