.cl{clear:both;}
.cf:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}
* html .cf{ zoom: 1; }
*:first-child+html .cf{ zoom: 1; }
.hide{
    display:none;
}
/***header section start***/
.header_wrapper{
    background:#000000;
    margin-bottom:20px;
}
.header_wrapper nav #main-nav-bar{
    border-bottom:none;
}
.header_wrapper header{
    width:960px;
    margin:0px auto;
}
.header_wrapper figure{
    width:200px;
    float:left;
}
.header_wrapper nav.sixteen{
    clear:both;
}
.header_wrapper nav#top-nav-bar{
    float:left;
    width:760px;
}
.header_wrapper nav#top-nav-bar:after{
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
    zoom:1;
}
#search-bar select#taxon{
    height: 30px;
    padding-bottom:5px;
    padding-top:5px;

}
#search-bar select#taxon option{
    padding-right:10px;
}
#search-bar input{
    height:30px;
}
/***header section ends***/
/*** content block css start***/
 #content{
     padding-top:22px;
 }
.pagination{
    text-align: right;
    padding-bottom: 20px;
}
/** content block css end  ***/
/**product page css start**/
.product_content_left{
    float:left;
}
#product-variants{margin-right:0px;}
#product-variants ul li{float:left;}
.product_content_right{
    float:left;
    min-height: 250px;
    width: 226px;
    margin-left:10px

}
#product-price .price{
    color:#900;
}
.chart_sentiment{
    width:245px;
    height:200px;
    margin:0px auto;
}
.brand_sentiment_wrapper{
    position:  relative;
}

/***Substitute block***/
.subtitutes_block{
    padding:10px 0px 20px 0px;
    margin-top:40px;
    border-top:3px solid #DA7C0C;
}
.subs_discount_wpr{
    position:relative;
    float: left;
    padding:21px 60px 10px 20px;
}
.subs_bg{
    border:3px solid #cecece;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background:#eeeeee;
    width:100%;
}
.subs_txt_discount,.subs_txt_discountval{
    color:#E85B48;
    font-weight:bold;
    font-size:16px;
    transform:rotate(340deg);
    -ms-transform:rotate(340deg); /* Internet Explorer */
    -moz-transform:rotate(340deg); /* Firefox */
    -webkit-transform:rotate(340deg); /* Safari and Chrome */
    -o-transform:rotate(340deg); /* Opera */
}
.subs_txt_discountval{
    text-align:center;
    color:#BB0000;
}
.subs_discount{
    width:75px;
    float:left;
    padding-top:28px;
}
.subtitutes_blockR{
    float:left;
}
.subs_discount_thumb{
    float:left;
}
.subs_productname{
    clear:both;
    text-align:right;
    font-family: verdana;
    color:grey;
    text-transform: uppercase;
    font-size:11px;
}
.subs_block_headertxt{
    font-size: 14px;
    font-weight: bold;
    padding-bottom:10px;
}
.subs_wpr{
    padding:10px 10px 10px 10px;
}
.subs_wpr ul li{
    float:left;
    padding:10px 10px 10px 10px ;
    width:115px;
}
.subs_wpr ul li a{
    display:block;
}
.subs_wpr ul li a img{
    border:1px solid #DA7C0C;
}

.product-section-title2{
    background:#f2f2f2;
    padding:5px 0px 5px 10px;
}
.product_content_left #product-description .product-title{
    border-bottom:none;
}
/***substitute block ends***/
/***tag cloud css start***/
 .brand_sentiment_page{
     width:960px;
     margin:0px auto;
     padding-top:20px;
 }
 .tagcloud{
     width:100%;
     position:relative;
 }
.tagcloud ul{
    margin:0px;
    padding:0px;
}
 .tagcloud ul li{
    float :left;
    margin-right:5px;
 }
 .tagcloud ul li a{
    padding:5px 5px;
    float:left;
 }
.tagcloud ul li a:hover{
    color:#000000 !important;
    background:#cecece;
    border-radius:5px;
}
.tag1{color:#6e9215 !important;font-size:2em; }
.tag2{ color:#ef5308 !important;font-size:1.5em; }
.tag3{ color:#a1997f !important; font-size:1em;}
/***tag cloud css end***/
/*** product page css ends***/

/*** Footer css start**/
html,body{
    height:100%;
}
.wrapper_hc{
    height:auto !important;
    position: relative;
    margin:0 auto -100px;
    min-height:100%;
}
.footer_wrapper{
    background:#000000;
    position:relative;
    height:100px;
}
.footer_wrapper footer#footer{
    width:960px;
    margin:0px auto;
    border-top:1px solid #000000;
}
/*** Footer css ends ***/
/** ui accordian css start**/
#accordion h3{
    padding-left:2.2em ;
}
.ui-widget {
    font-family:Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
    font-size:1.1em;
}
.ui-helper-reset {
    border:0 none;
    font-size:100%;
    line-height:1.3;
    list-style:none outside none;
    margin:0;
    outline:0 none;
    padding:0;
    text-decoration:none;
}

.ui-accordion .ui-accordion-header {
    cursor:pointer;
    display:block;
    margin-top:2px;
    padding:0.5em 0.5em 0.5em 0.7em;
    position:relative;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius:4px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius:4px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background:#F6F6F6 repeat-x scroll 50% 50% ;
    border:1px solid #CCCCCC;
    color:#1C94C4;
    font-weight:bold;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background:#FFFFFF repeat-x scroll 50% 50% ;
    border:1px solid #FBD850;
    color:#EB8F00;
    font-weight:bold;
}

.ui-accordion .ui-accordion-content {
    border-top:0 none;
    overflow:auto;
    padding:1em 1em;
}

.ui-widget-content {
    background:#EEEEEE repeat-x scroll 50% top ;
    border:1px solid #DDDDDD;
    color:#333333;
}


/** ui accordion css end***/
/*** ui rfm slider  **/

#rfm_body{
    background:#000000;
    padding-top:80px;
    height:100%;
}
#rfm_body h1{
    text-align: center;
    color:#ffffff;
}
#rfm_tabs{
    margin-top:20px;
}
.slider_wrapper_freq{
   width:780px;
    margin:20px auto;
}
.slider_label{
    float:left;
    padding:0px 30px 0px 0px;
}
.rfm_label{
    padding-right:30px;
    text-align: right;
    width:100px;
    float:left;
}
.slider_bar{
    float:left;
    padding-top:5px;
    width:500px;
}
.slider_bar_value{
   float:left;
    width:100px;
    padding:0px 0px 0px 30px;
}
.rfm_block{
    padding:20px 0px;
}
#freq_r,#price_r{
    background:transparent;
    color: #9C5419 !important;
    cursor:pointer;
    border:none;
    font-weight: bold;
}
#bucket_val{
    width:30px;
}
.freq_bs,.filter_submit{float:center;}
.freq_bs a,.filter_submit a{
    background: #3093c7;
    background: -webkit-gradient(linear, left top, left bottom, from(#3093c7), to(#1c5a85));
    background: -moz-linear-gradient(top,  #3093c7,  #1c5a85);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#3093c7', endColorstr='#1c5a85');
    color:#ffffff;
    padding:4px 15px;
    margin-right:20px;
    border-radius:50px;
    border:1px solid #fff;
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
    box-shadow: 5px 5px 5px #888;
}
.freq_bs a:hover,.filter_submit a:hover,a.bucket_selected{
    background: #26759e;
    background: -webkit-gradient(linear, left top, left bottom, from(#26759e), to(#133d5b));
    background: -moz-linear-gradient(top,  #26759e,  #133d5b);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#26759e', endColorstr='#133d5b');    color:#ffffff !important;
 }
#slider-range-freq,#slider-range-price{
    background: grey;
}
#slider-range-freq a,#slider-range-price a{
    background:#000000 !important;
}
#slider-range-freq .ui-slider-range,#slider-range-price .ui-slider-range{
    background:#3093c7;
}

/*** ui rfm slider ends */

.hide
{
    display: none;
}


