<div id="rfm_body">
<h1>RFM Analysis</h1>
</br>

<div id="rfm_tabs">
  <ul>
    <li><a href="#tab-1">Recency</a></li>
    <li><a href="#tab-2">Frequency</a></li>
    <li><a href="#tab-3">Monetary</a></li>
  </ul>
  <div>
    <div id="tab-1">
      <div id="container_recency" style="width:98%"></div>
      <div class="rfm_block cf">
        <div class="date_range">
            <span class="rfm_label">Date Range: </span>
            <label for="rfm_from">From</label>
            <input type="text" id="rfm_from" name="rfm_from" />
            <label for="rfm_to">to</label>
            <input type="text" id="rfm_to" name="rfm_to" />
      </div>
      </div>
      <div class="rfm_block cf">
        <span class="rfm_label">Bucket Size:</span>
        <div class="price_bs"><a href="#">Monthly</a><a href="#">Quaterly</a><a href="#">Half Yearly</a><a href="#">Yearly</a></div>
      </div>
    </div>
    <div id="tab-2">
      <div id="container_frequency" style="width:98%"></div>
      <div class="slider_wrapper_freq cf">
        <div class="rfm_block cf">
            <div class="slider_label rfm_label"><label for="freq_r"> Interval:</label></div>
            <div class="slider_bar"><div id="slider-range-freq"></div> </div>
            <div class="slider_bar_value"><input type="text" id="freq_r" readonly="true"/></div>
       </div>
        <div class="rfm_block cf">
          <span class="rfm_label">Bucket Size:</span>
          <div class="freq_bs"><a href="#">1</a><a href="#">2</a><a href="#">3</a><a href="#">4</a></div>
        </div>
      </div>
    </div>
    <div id="tab-3">
      <div id="container_monetary" style="width:98%"></div>
      <div class="slider_wrapper_freq cf">
        <div class="rfm_block cf">
          <div class="slider_label rfm_label"><label for="price_r"> Interval:</label></div>
          <div class="slider_bar"><div id="slider-range-price"></div> </div>
          <div class="slider_bar_value"><input type="text" id="price_r" readonly="true"/></div>
        </div>
        <div class="rfm_block cf">
          <span class="rfm_label">Time Interval:</span>
          <div class="price_bs"><a href="#">1</a><a href="#">2</a><a href="#">3</a><a href="#">4</a></div>
        </div>
      </div>
    </div>

    </div
  </div>

</div>
</div>

