<h1>RFM Analysis</h1>
</br>
<div id="container_recency" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
</br>
</br>
<div id="container_frequency" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
</br>
</br>
<div id="container_monetary" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
