<h1>RFM Analysis</h1>
</br>

<div  id="rfm_tabs">
  <ul>
    <li><a href="#tab-1">Recency</a></li>
    <li><a href="#tab-2">Frequency</a></li>
    <li><a href="#tab-3">Monetary</a></li>
  </ul>
            <div id="tab-1"><div id="container_recency"></div> </div>
            <div id="tab-2"><div id="container_frequency"></div>  </div>
            <div id="tab-3"><div id="container_monetary"></div> </div>

</div>

