<br/>
<br/>
<div class="container cf">
    <% if @cf_recommendations && !@cf_recommendations.empty? %>
        <div class="subtitutes_block cf">
            <div class="subs_block_headertxt"> Users like you bought these</div>
            <div class="subs_bg cf">
                <div class="subtitutes_blockR">
                    <div class="subs_wpr cf">
                        <ul class="cf">
                            <% @cf_recommendations.each do |product|%>
                                <li><a href="javascript:void(0)">
                                    <div><%= image_tag(product.images.first.attachment.url(:small)) %></div>
                                    <span class="subs_productname"><%= product.name %></span>
                                </a>
                                </li>
                            <% end%>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>
