<div id='treemap-div'></div>
<%= stylesheet_link_tag "admin/assortment_map" %>
<%= javascript_include_tag 'admin/jquery-treemap' %>
<%= javascript_include_tag "admin/assortment_map" %>

<script>
    var list = <%= raw @data %>;
    render_tree_map(list);
</script>

